@{
    Layout = "_Layout";
}




<div class="text-center">
    <h1 class="display-4">Bine ai venit la site-ul meu de fitness</h1>
    <p>Aici vei găsi toate programele si informatiile de care ai nevoie pentru orice scop iti propui</p>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Slăbește sănătos</h5>


                <p class="card-text">Află cum poți slăbi în mod sănătos și sustenabil, cu sfaturi de la experți.</p>
                <p style="background-image: url('/images/Poza6.jpg'); height: 250px; width: 350px; background-size: cover;">

                </p>
                
                    <a class="nav-item">
                     <button class="btn btn-primary" onclick="location.href='@Url.Action("VreauSaSlabesc", "Fitness")'">Afla mai multe </button>
                    </a>

                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dezvoltă masă musculară</h5>
                <p class="card-text">Strategii și antrenamente pentru a-ți dezvolta masa musculară eficient.</p>
                <p style="background-image: url('/images/Poza3.jfif'); height: 200px; width: 350px; background-size: cover;">

                </p>
                <a class="nav-item">
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("VreauMasaMusculara", "Fitness")'">Afla mai multe </button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Planuri alimentare</h5>
                <p class="card-text">Planuri alimentare personalizate pentru obiectivele tale de fitness.</p>
                <p style="background-image: url('/images/Poza2.jpg'); height: 200px; width: 350px; background-size: cover;">
                  
                </p>

                <a class="nav-item">
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("VreauPlanAlimentar", "Fitness")'">Afla mai multe </button>
                   
                </a>
            </div>
        </div>
    </div>
</div>







