
body {
    background-color: #f8f9fa; 
    color: #333; 
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #343a40 !important;
}

.nav-link {
    color: #ffffff !important; 
    transition: color 0.3s; 
}

    .nav-link:hover {
        color: #17a2b8 !important; 
        text-decoration: none; 
    }


.btn-primary {
    background-color: #17a2b8; 
    border-color: #17a2b8;
}

    .btn-primary:hover {
        background-color: #138496; 
        border-color: #138496;
    }


.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
}


.container {
    padding-top: 80px; 
}

.nav-link {
    pointer-events: auto !important; 
    cursor: pointer;
}


.navbar-collapse {
    display: block !important; 
}